@using TeamAscend.Agapay.Web.Models
@model LoginVM
@{
    Layout = "_BaseLayout";
    ViewData["Title"] = "Users";
}
<div class="container h-100">
    <!-- Outer Row -->
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 mb-4">
                                        <span style="color: #003366; font-weight: bold;">Welcome to </span>
                                        <span style="color: #f6a623; font-weight: bold;">Agapay</span>
                                    </h1>
                                </div>
                                @if (!string.IsNullOrWhiteSpace(Model.Status))
                                {
                                    <div class="alert alert-secondary alert-danger">
                                        <span class="fa fa-info-circle" aria-hidden="true"></span>
                                        <strong>Login Invalid</strong>
                                        <div class="">
                                            Username or Password Invalid!
                                        </div>
                                    </div>
                                }                                
                                <form id="frmLogin" class="user" action="~/Users/LoginAuthenticate" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user"
                                               id="txtUsername" name="Username" aria-describedby="emailHelp"
                                               placeholder="Username" required />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="Password" class="form-control form-control-user"
                                               id="txtPassword" placeholder="Password" required />
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">
                                                Remember
                                                Me
                                            </label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block custom-hover">
                                        Login
                                    </button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="register.html">Contact System Admin</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @* <script src="/lib/jquery-validation/dist/jquery.validate.js"></script> *@
    <style>
        .custom-hover:hover {
            background-color: #f6a623 !important;
            border-color: #f6a623 !important;
        }
    </style>
    <script>
        $(document).ready(function() {

            $('#frmLogin').validate({
                submitHandler: function(form) {
                    // Form is valid, submit via AJAX or other custom logic
                    //alert("Form submitted successfully!");
                    form.submit(); // Or use AJAX
                }
            });
        });


    </script>

}