@page "/WTDfirstaid"

<div class="first-aid-guide">

    <header class="card-header">
        <a asp-action="Index" href="/" class="back-button"><i class="fas fa-arrow-left"></i></a>
        <h1 class="page-title">First Aid Guide</h1>
    </header>

    <nav class="tabs">
        <a href="#" class="tab active">First Aid Guide</a>
        <a href="#" class="tab bookmark-tab"><i class="fas fa-bookmark"></i> Bookmarks</a>
    </nav>

    <div class="card-grid">

        <a href="#" class="guide-card">
            <div class="card-image" style="background-image: url('images/cpr_basic.jpg');"></div>
            <div class="card-footer">
                <span class="card-title">Basic CPR</span>
                <i class="fas fa-bookmark bookmark-icon"></i>
            </div>
        </a>

        <a href="#" class="guide-card">
            <div class="card-image" style="background-image: url('images/healing_burns.jpg');"></div>
            <div class="card-footer">
                <span class="card-title">Healing burns</span>
                <i class="fas fa-bookmark bookmark-icon"></i>
            </div>
        </a>

        <a href="#" class="guide-card">
            <div class="card-image" style="background-image: url('images/splinting.jpg');"></div>
            <div class="card-footer">
                <span class="card-title">Splinting</span>
                <i class="fas fa-bookmark bookmark-icon"></i>
            </div>
        </a>

        <a href="#" class="guide-card">
            <div class="card-image" style="background-image: url('images/choking.jpg');"></div>
            <div class="card-footer">
                <span class="card-title">Choking</span>
                <i class="fas fa-bookmark bookmark-icon"></i>
            </div>
        </a>

        <a href="#" class="guide-card">
            <div class="card-image" style="background-image: url('images/bleeding.jpg');"></div>
            <div class="card-footer">
                <span class="card-title">Bleeding</span>
                <i class="fas fa-bookmark bookmark-icon"></i>
            </div>
        </a>

        <a href="#" class="guide-card">
            <div class="card-image" style="background-image: url('images/minor_cuts.jpg');"></div>
            <div class="card-footer">
                <span class="card-title">Minor Cuts and Wounds</span>
                <i class="fas fa-bookmark bookmark-icon"></i>
            </div>
        </a>

        <a href="#" class="guide-card">
            <div class="card-image" style="background-image: url('images/headache.jpg');"></div>
            <div class="card-footer">
                <span class="card-title">Headache</span>
                </div>
        </a>
        
        <a href="#" class="guide-card">
            <div class="card-image" style="background-image: url('images/eye_injury.jpg');"></div>
            <div class="card-footer">
                <span class="card-title">Eye Injury</span>
                </div>
        </a>
    </div>
    
</div>