@page "/WTDhyperthermia"

<div class="first-aid-guide-page">
    <header class="headerwtdfa">
        <a asp-action="Index" href="/WTDfirstaid" class="back-button">
            <i class="fas fa-arrow-left"></i>
        </a>
    </header>

    <main class="content">
        <h2 class="section-title">Hyperthermia</h2>

        <div class="image-container">
            <img src="../imgs/wtd_banners/wtdfa_banners/wtd_hyperthermia.jpg" alt="Person practicing CPR on a dummy" class="cpr-image" />
        </div>
        <p class="intro-text">
            Hyperthermia is a condition in which the body reaches abnormally high temperatures
            because it cannot regulate its internal temperature. It is caused when the body produces
            or absorbs too much heat or both. Hyperthermia can be mild (heat exhaustion) or severe (heatstroke).
            A person can experience hyperthermia through intense physical activity or from being in a very hot environment.
            Children and the elderly are most at risk. If left untreated, heatstroke can lead to a Seizure or a coma, and be
            life-threatening. 
        </p>
        <section class="before-start">
            <h3 class="subsection-title">Prevent and prepare</h3>
            <ul class="bullet-list">
                <li class="bullet-item">Wear appropriate clothing for the temperature and activity.</li>
                <li class="bullet-item">Limit physical activities during the hottest part of the day.</li>
                <li class="bullet-item">Take frequent breaks to drink water.</li>
                <li class="bullet-item">In places where there is a high risk of hyperthermia, consider how to make cooling methods available so there is no delay in first aid when hyperthermia occurs.</li>
            </ul>
        </section>
        <section class="before-start">
            <h3 class="subsection-title">Early recognition</h3>
            <p class="intro-text">The person’s condition will depend on how much the body has overheated.</p> <br/>
            <strong>Mild to moderate hyperthermia (heat exhaustion)</strong>
            <ul class="bullet-list">
                <li class="bullet-item">Normal or mildly higher temperature</li>
                <li class="bullet-item">Cool, Pale, Clammy skin</li>
                <li class="bullet-item">Excessive sweating</li>
                <li class="bullet-item">Thirsty</li>
                <li class="bullet-item">Headache</li>
                <li class="bullet-item">Muscle Cramps</li>
                <li class="bullet-item">Rapid, Weak Pulse</li>
                <li class="bullet-item">Fainting or Dizziness</li>
            </ul>
            <h3 class="subsection-title">First aid steps</h3>
            <ol class="step-list">
                <li class="step-item"><span class="step-number">1.</span> <span class="step-content">Advise the person to stop all physical activity. Help them to rest in a cool place and to remove any excess clothing.</span></li>
                <li class="step-item"><span class="step-number">2.</span> <span class="step-content">If the person is showing signs of severe hyperthermia, (see signs above), immediately start cooling them down. Immerse them in cold water (1-26° C/33.8-78.8°F) for around 15 minutes, or until their temperature has dropped to less than 39°C (102.2°F). If this is not possible (e.g., cold water is unavailable or the person is confused and refuses), cool the person using any other active cooling technique (e.g., place a cool, wet sheet on the person or wet them with cold water and place ice packs on their neck and groin areas). Fanning them may also increase the cooling action.</span></li>
                <li class="step-item"><span class="step-number">3.</span> <span class="step-content">Access EMS.</span></li>
                <li class="step-item"><span class="step-number">4.</span> <span class="step-content">If the person is showing signs of mild to moderate hyperthermia, (see signs above), cool them off using any technique available such as immersing their hands and feet in cold water, applying ice-packs to their neck and groin area, encouraging them to have a cold shower, or fanning them. Give them some water to drink. Sports drinks or cold tea may also be helpful.</span></li>
                <li class="step-item"><span class="step-number">5.</span> <span class="step-content">Monitor the person’s temperature and level of response. Try to reduce their temperature to less than 39°C.</span></li>
            </ol>
            <h3 class="subsection-title">Access Help</h3>
            <ul class="bullet-list">
                <li class="bullet-item">If the person shows signs of severe hyperthermia, access emergency medical care immediately. Severe hyperthermia can be life-threatening.</li>
                <li class="bullet-item">A person with mild to moderate hyperthermia will usually recover without medical care. Monitor them closely in case their condition does not improve or worsens. And access medical care if in any doubt.</li>
            </ul>
            <h3 class="subsection-title">Recovery</h3>
            <p class="intro-text">Keep the person cool and encourage them to rest. In most cases, people with mild to moderate hyperthermia will recover fully.</p>
        </section>
        <!-- Reference Section -->
        <section class="important-note">
            <h3 class="subsection-title">Reference</h3>
            <a href="https://www.globalfirstaidcentre.org/hyperthermia" target="_blank">
                https://www.globalfirstaidcentre.org/hyperthermia
            </a>
        </section>
    </main>
</div>