@page "/WTDminorcutswounds"

<div class="first-aid-guide-page">
    <header class="headerwtdfa">
        <a asp-action="Index" href="/WTDfirstaid" class="back-button">
            <i class="fas fa-arrow-left"></i>
        </a>
    </header>

    <main class="content">
        <h2 class="section-title">Minor Cuts and Wounds</h2>

        <div class="image-container">
            <img src="../imgs/wtd_banners/wtdfa_banners/wtd_cuts.jpg" alt="Person practicing CPR on a dummy" class="cpr-image" />
        </div>
        <p class="intro-text">
            Most minor wounds can be treated in the home without further medical attention.
            However, further medical advice should be sought if: there is a foreign body embedded in the wound;
            the wound shows signs of infection; and the wound has the potential for tetanus.
        </p>

        <section class="before-start">
            <h3 class="subsection-title">Treatment</h3>
            <p class="intro-text">Follow these steps to treat minor cuts and wounds:</p>
            <ul class="bullet-list">
                <li class="bullet-item">Wash your hands before treating the wound.</li>
                <li class="bullet-item">Check that there is nothing in the wound. If the wound is dirty, clean it under running water.</li>
                <li class="bullet-item">Pat dry with clean, non-fluffy material.</li>
                <li class="bullet-item">Clean the wound from the center out with gauze swabs or antiseptic wipes, using a fresh piece for each wipe.</li>
                <li class="bullet-item">Cover the wound with an adhesive dressing to apply pressure and protect it from infection.</li>
                <li class="bullet-item">Elevate the wound, if necessary, to help control bleeding.</li>
            </ul>
        </section>
        <!-- Reference Section -->
        <section class="important-note">
            <h3 class="subsection-title">Reference</h3>
            <p>Firstaid.ph. (2011). Minor Wounds.<br/>
                Retrieved from 
                <a href="http://www.firstaid.ph/everyday-first-aid/minor-wounds.html" target="_blank">
                    http://www.firstaid.ph/everyday-first-aid/minor-wounds.html
                </a>
                <br/>
                Image from <br/><a href="http://school.discoveryeducation.com/clipart/clip/firstaidkit4c.html" target="_blank">
                    http://school.discoveryeducation.com/clipart/clip/firstaidkit4c.html
                </a>
            </p>
        </section>
    </main>
</div>
