@page "/AccountSettings"
<h3 text-align="center">Account Settings</h3>
<br/>
<!-- Menu List -->
<div class="menu-list">
    <p>ACCOUNT</p>
    <NavLink href="/About" onclick="setSelectedNav(this)" class="menu-item">
        <span>Personal Information</span>
        <span class="arrow">›</span>
    </NavLink>
    <NavLink href="/PrivacyPolicy" class="menu-item">
        <span>Preferred Language</span>
        <span class="arrow">›</span>
    </NavLink>
    <NavLink href="/TermsConditions" onclick="setSelectedNav(this)" class="menu-item">
        <span>Access and Control</span>
        <span class="arrow">›</span>
    </NavLink>
</div>
<script>
    function setSelectedNav(src) {
        $('.bottom_navigation ul li').removeClass('active');
        $(src).parent().addClass('active');
    }
</script>