@using TeamAscend.Agapay.App.Components.Layout
@layout BaseLayout
@page "/createaccount"
@using Newtonsoft.Json
@using TeamAscend.Agapay.Web.Models

<div class="ca-container">
    <a class="ca-back" href="/Account" aria-label="Back">
        <i class="fas fa-arrow-left"></i>
    </a>

    <h1 class="ca-title">Create an Account</h1>
    <p class="ca-sub">Please enter your personal information</p>

    <p class="ca-section">Personal Information</p>

    <div class="ca-field">
        <input class="ca-input" type="email" placeholder="@@gmail.com" @bind="Model.EmailAddress" />
    </div>

    <div class="ca-row">
        <div class="ca-col">
            <input class="ca-input" type="text" placeholder="First Name"  @bind="Model.FirstName" />
        </div>

        <div class="ca-col ca-col-suffix">
            <select class="ca-input ca-select">
                <option>None</option>
                <option>Jr.</option>
                <option>Sr.</option>
                <option>III</option>
            </select>
        </div>
    </div>

    <div class="ca-field">
        <input class="ca-input" type="text" placeholder="Middle Name" @bind="Model.MiddleName" />
    </div>

    <label class="ca-checkline">
        <input type="checkbox" />
        <span class="ca-checklabel">I have no middle name</span>
    </label>

    <div class="ca-field">
        <input class="ca-input" type="text" placeholder="Last Name"  @bind="Model.LastName" />
    </div>

    <div class="ca-field">
        <input class="ca-input" type="text" placeholder="MM/DD/YYYY" onfocus="this.type='date'" @bind="Model.BirthDate" />
    </div>

    <!-- Address 1 and 2 -->
    <div class="ca-field">
        <input class="ca-input" type="text" placeholder="Home Address Line 1" @bind="Model.AddressLine1" />
    </div>

    <div class="ca-field">
        <input class="ca-input" type="text" placeholder="Home Address Line 2" @bind="Model.AddressLine1" />
    </div>

    <!-- Contact Number 1 and 2 -->
    <div class="ca-field">
        <input class="ca-input" type="tel" placeholder="Contact Number 1" />
    </div>

    <div class="ca-field">
        <input class="ca-input" type="tel" placeholder="Contact Number 2" />
    </div>

    <!-- Gender -->
    <div class="ca-gender">
        <label class="ca-gender-item">
            <input type="radio" name="gender"  />
            <span class="ca-radio"></span>
            <span class="ca-gender-icon">♂</span>
            <span class="ca-gender-text">Male</span>
        </label>

        <label class="ca-gender-item">
            <input type="radio" name="gender" />
            <span class="ca-radio"></span>
            <span class="ca-gender-icon">♀</span>
            <span class="ca-gender-text">Female</span>
        </label>
    </div>

    <label class="ca-checkline">
        <input type="checkbox" />
        <span class="ca-checklabel">I prefer not to say</span>
    </label>

	<!-- Barangay and City -->
    <div class="ca-field">
        <input class="ca-input" type="text" placeholder="Barangay" />
    </div>

     <div class="ca-field">
        <input class="ca-input" type="text" placeholder="City" />
    </div>

    <!-- Region and Zip Code -->
    <div class="ca-row">
        <div class="ca-col">
            <input class="ca-input" type="text" placeholder="Region" />
        </div>

        <div class="ca-col ca-col-suffix">
            <input class="ca-input" type="text" placeholder="Zip Code" />
        </div>
    </div>

    <!--Password-->
    <div class="ca-field ca-password">
        <input id="create-password" class="ca-input" type="password" placeholder="Password" @bind="Model.Password" />
        <span class="toggle-password" onclick="togglePassword('create-password', this)">
            <i class="fa fa-eye"></i>
        </span>
    </div>

    <div class="ca-field ca-password">
        <input id="confirm-password" class="ca-input" type="password" placeholder="Confirm Password" />
        <span class="toggle-password" onclick="togglePassword('confirm-password', this)">
            <i class="fa fa-eye"></i>
        </span>
    </div>


    <!-- Next Button -->
    <div class="ca-next">
        @* <button type="button" class="ca-btn" onclick="location.href='/VerifyAccount'">
            Next
        </button> *@
        <button type="button" class="ca-btn" @onclick="Register">
            Next
        </button>
    </div>

    <!-- Sign in button-->
    <div class="ca-signin">
        <p class="ca-signin-text">
            Already have an account?
            <a href="/SignIn" class="ca-link">Sign in</a>
        </p>
    </div>


    <!-- Agree to Terms -->
    <label class="ca-checkline ca-terms">
        <input type="checkbox" />
        <span class="ca-checklabel">
            I have read and agree to the
            <a href="/TermsConditions" class="ca-link">Terms and Conditions</a> and
            <a href="/PrivacyPolicy" class="ca-link">Privacy Policy</a>.
        </span>
    </label>


</div>

<script>
    function togglePassword(id, el) {
        const pwd = document.getElementById(id);
        const icon = el.querySelector("i");

        if (pwd.type === "password") {
            pwd.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            pwd.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    }
</script>
