@page "/VerifyAccount"

<div class="verify-container">
    <h2 class="verify-title">Verify your Account</h2>
    <p class="verify-sub">Enter the verification code we sent to ***</p>

    <div class="verify-code">
        <input class="verify-input" type="text" maxlength="1" />
        <input class="verify-input" type="text" maxlength="1" />
        <input class="verify-input" type="text" maxlength="1" />
        <input class="verify-input" type="text" maxlength="1" />
    </div>

    <button class="verify-btn">Continue</button>

    <div class="verify-resend">
        <a href="#">Resend Code</a>
    </div>
</div>

@code {

}
