@page "/"
<style>
    #weather_n_address {
        display: inline-flex;
        margin-bottom:20px;
    }

    .weather-details, .address-details {
        width: 45vw;
        /*border: 1px solid pink;*/
    }

    .weather-details {
    }

    .address-details {
        text-align: right;
    }

    .weather-title {
    }

    .weather-temp {
    }



    #portalLinks {
        display: inline-flex;
    }

        #portalLinks a {
            background-color: #003366;
            display: inline-block;
            color: #FFFFFF;
            text-decoration: none;
            border-radius: 20px;
            margin: 10px;
            width: 40vw;
            height:80px;
        }

</style>

<section id="weather_n_address">
    <div class="weather-details">
        <img src="/imgs/weather_icons/sunny_cloudy.png" style="height:50px" />
        <span class="weather-title">Sunny</span>
        <span class="weather-temp"><i class="fas fa-temperature-low"></i>&nbsp;35<sup>0</sup></span>
        @*<span class="weather-date"></span>*@
    </div>
    <div class="address-details">
        <span style="margin-top: 10px;display: inline-block;">
            Cubao, Quezon City
            &nbsp;
            <i class="fa fa-caret-down"></i>
        </span>
    </div>
</section>

<marquee><h5>@DateTime.Today.ToLongDateString()</h5></marquee>

<section>
    <h1>Announcement</h1>
    <div id="slideAnnounce" style="height:120px;width:100%;background-color:pink;border-radius:10px">

    </div>
</section>

<section>
    <h1>Where to go?</h1>
    <div id="mapImagePanel" style="height: 120px; width: 100%; background-color: forestgreen; border-radius: 10px">

    </div>
</section>

<section>
    <h1>What to do?</h1>
    <div id="menuHorizontalImages">

    </div>

    <div id="mainBanner" style="height: 100px; width: 100%; background-color: lightcyan; border-radius: 10px ">

    </div>

    <div id="portalLinks">
        <a href="">
            <img src="/imgs/emergency.svg" style="height: 80%; margin: 5px; float: left;" />
            <h6>
                Emergency Hotlines
            </h6>
        </a>
        <a href="">
            <img src="/imgs/plan_icon.svg" style="height: 80%; margin: 5px; float: left;"  />
            <h6>
                Personal Emergency Plans
            </h6>
        </a>
    </div>
</section> 