@page "/"
<style>
    #weather_n_address {
        display: inline-flex;
        margin-bottom: 20px;
    }

    .weather-details, .address-details {
        width: 45vw;
        /*border: 1px solid pink;*/
    }

    .weather-details {
    }

    .address-details {
        text-align: right;
    }

    .weather-title {
    }

    .weather-temp {
    }



    #portalLinks {
        display: inline-flex;
    }

        #portalLinks a {
            background-color: #003366;
            display: inline-block;
            color: #FFFFFF;
            text-decoration: none;
            border-radius: 20px;
            margin: 10px;
            width: 40vw;
            height: 80px;
        }


    .section-highlight {
        min-height: 120px;
        width: 100%;
        /*background-color: pink;*/
        border-radius: 10px;
    }


    .slide-banner {
        width: 100%;
        height: 150px;
        background-repeat: no-repeat;
        background-size: cover;
        text-align:right;
        color:#FFF;
    }       

        .slide-banner h2, .slide-banner h3, .slide-banner h4 {
            color: #FFF;
            font-family: monospace;
            text-shadow: 0px 0px 10px #333;
            white-space:nowrap;
        }

        .slide-banner h2 {
            font-size: 50px;
            text-shadow: 0px 0px 10px #FFF !important;
            color: #000 !important;
        }

        .cycle-pager {
            display: block;
        }

    .sliderannouncement-pager {
        text-align: center;
        width: 100%;
        z-index: 500;
        top: 10px;
        overflow: hidden;
        margin-top: -25px;
    }

        .sliderannouncement-pager span {
            font-size: 50px;
            width: 16px;
            height: 16px;
            display: inline-block;
            color: #ddd;
        }

            .sliderannouncement-pager span.cycle-pager-active {
                color: #D69746;
            }

    .sliderannouncement-pager > * {
        cursor: pointer;
    }
</style>

<section id="weather_n_address">
    <div class="weather-details">
        <img src="/imgs/weather_icons/sunny_cloudy.png" style="height:50px" />
        <span class="weather-title">Sunny</span>
        <span class="weather-temp"><i class="fas fa-temperature-low"></i>&nbsp;35<sup>0</sup></span>
        @*<span class="weather-date"></span>*@
    </div>
    <div class="address-details">
        <span style="margin-top: 10px;display: inline-block;">
            Cubao, Quezon City
            &nbsp;
            <i class="fa fa-caret-down"></i>
        </span>
    </div>
</section>

@*<marquee><h5>@DateTime.Today.ToLongDateString()</h5></marquee>*@
<div id="newsflash" class="marquee"><p style="margin:0px;padding:0px">@DateTime.Today.ToLongDateString()</p></div>

<section>
    <h1>Announcement</h1>
    <div id="announcementPanel" class="section-highlight" style="/*background-color:pink;*/">
        <div class="cycle-slideshow"
            data-cycle-fx="scrollHorz"
            data-cycle-pause-on-hover="true"
            data-cycle-timeout="5000"
            data-cycle-slides="> div"
            data-cycle-swipe="true"
            data-cycle-swipe-fx="scrollHorz"
            data-cycle-pager=".sliderannouncement-pager">
            <div class="slide-banner" style="background-image: url('/imgs/banners/rain1.jpg')">
                <h4>Cubao</h4>
                <h2>Heavy Rain</h2>
                <h3>Advisory</h3>
            </div>
            @*<div class="slide-banner" style="background-image: url('/imgs/banners/landslide1.jpg')">
                <h4>Bastasan</h4>
                <h2>Rainfall</h2>
                <h3>Advisory</h3>
            </div>*@
            <div class="slide-banner" style="background-image: url('/imgs/banners/thunderstorm1.jpg')">
                <h4>Novaliches</h4>
                <h2>Thunder Storm</h2>
                <h3>Advisory</h3>
            </div>
            <div class="slide-banner" style="background-image:url('/imgs/banners/flood1.jpg')">
                <h4>Batasan</h4>
                <h2>Flood</h2>
                <h3>Advisory</h3>
            </div>
        </div>
        <div class="sliderannouncement-pager"></div>
    </div>
</section>

<!--<div id="sliderSource" style="display:none">-->
    @*
            data-cycle-fx="scrollHorz"
        data-cycle-pause-on-hover="true"
        data-cycle-timeout="5000"
        data-cycle-slides="> div"
        data-cycle-swipe="true"
        data-cycle-swipe-fx="scrollHorz"
        data-cycle-pager=".sliderannouncement-pager"
    *@
    <!--<div class="cycle-slideshow">
        <div class="slide-banner" style="background-image: url('/imgs/banners/rain1.jpg')"></div>
        <div class="slide-banner" style="background-image: url('/imgs/banners/landslide1.jpg')"></div>
        <div class="slide-banner" style="background-image: url('/imgs/banners/thunderstorm1.jpg')"></div>
        <div class="slide-banner" style="background-image:url('/imgs/banners/flood1.jpg')"></div>
    </div>
    <div class="sliderannouncement-pager"></div>
</div>-->

<section>
    <h1>Where to go?</h1>
    <div id="mapImagePanel" class="section-highlight" style="background-color: forestgreen;">

    </div>
</section>

<section>
    <h1>What to do?</h1>
    <div id="menuHorizontalImages">

    </div>

    <div id="mainBanner" class="section-highlight" style="background-color: lightcyan;">

    </div>

    <div id="portalLinks">
        <a href="">
            <img src="/imgs/emergency.svg" style="height: 80%; margin: 5px; float: left;" />
            <h6>
                Emergency Hotlines
            </h6>
        </a>
        <a href="">
            <img src="/imgs/plan_icon.svg" style="height: 80%; margin: 5px; float: left;" />
            <h6>
                Personal Emergency Plans
            </h6>
        </a>
    </div>
</section>

<!--For reference go here: https://jquery.malsup.com/cycle2/demo -->
<script src="js/jquery.cycle2.js"></script>
<script>
    $(function(){
        //loadSlider();
    });

    function loadSlider(){
        $('#announcementPanel').html('');
        $('#announcementPanel').html($('#sliderSource').html());

        $('#announcementPanel .cycle-slideshow').attr('data-cycle-fx','scrollHorz');
        $('#announcementPanel .cycle-slideshow').attr('data-cycle-pause-on-hover','true');
        $('#announcementPanel .cycle-slideshow').attr('data-cycle-timeout','5000');
        $('#announcementPanel .cycle-slideshow').attr('data-cycle-slides','> div');
        $('#announcementPanel .cycle-slideshow').attr('data-cycle-swipe','true');
        $('#announcementPanel .cycle-slideshow').attr('data-cycle-swipe-fx','scrollHorz');
        $('#announcementPanel .cycle-slideshow').attr('data-cycle-pager','.sliderannouncement-pager');
    }
</script>